* {
  font-family: "Fira Code", "Vazirmatn", sans-serif;
  font-size: 13px;
  min-height: 12px;
  transition: none;
}

#workspaces {
  margin-left: 3px;
  margin-right: 4px;
  border-radius: 100%;
  background: transparent;
}

#workspaces button,
#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: transparent;
  border-color: transparent;
  border: none;
  color: #f1f1f1;
}

#workspaces button.active,
#workspaces button.persistent {
  color: #101010;
  border-radius: 3px;
  background: #ffffff;
}

#network,
#pulseaudio,
#clock,
#cpu,
#tray,
#temperature,
#battery,
#window,
#language,
#mpris,
#temperature,
#backlight {
  margin-right: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
}

#image {
  margin-left: 3px;
  margin-right: 4px;
  border-radius: 10px;
}

#temperature.critical {
  background-color: #ffffff;
}

#battery.charging {
  color: #ffffff;
  background-color: #26A65B;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
}

window#waybar {
  background: #000;
}

window#waybar.hidden {
  background: transparent;
  opacity: 0.2;
}
